/*<meta />*/

body
{
	font-family: Arial;
}

h1
{
	font-weight: bold;
	font-size: 24.0pt;
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

p
{
	font-size: 12.0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

p.styles
{
	font-size: 12.0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	color: #d2691e;
	mc-auto-number-format: '{color red}Styles Class{/color} - ';
}

p.styles2
{
	font-size: 12.0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	mc-auto-number-format: '{color green}{b}Styles2{/b} --->{/color} ';
	font-family: 'Adobe Gothic Std B';
}

h2.v11testing	/*making more of a visual cue*/
{
	font-weight: bold;
	font-size: 18.0pt;
	background-color: #ffa500;
}

ul.v11testing
{
	list-style-image: none;
}

ul.v11testing > li::marker
{
	font-size: 22pt;
	content: '•';
}

body.v11testing	/*special body background*/
{
	font-family: Arial;
	background-color: #e0ffff;
}

